<div class=" m-8 bg-neutral-100 md:w-[40rem] w-[30rem] px-2 flex  border-2 border-transparent shadow-lg shadow-slate-700 rounded-lg  md:h-[30rem]">
<div class="flex w-full h-full items-center justify-center ">
    <div class=" w-[60%] flex flex-col justify-between p-4  h-[100%]">
        <p class="bg-amber-6 bg-amber-600 border-8 border-gray-300 h-[58%] md:h-[78%] w-[15rem] md:w-full rounded-full   text-center text-[9rem] md:text-[14rem] text-white">T</p>
        <div class="text-left  h-22%">
            <p class=" text-lg text-rose-600 italic font-bold">Username</p>
            <span class="text-xl font-medium">Tebinjeik</span>
        </div>
    </div>
    <div class="p-4 w-[40%] h-full  flex justify-center flex-col ">
      
        <div class="text-left my-6">

            <p class="text-lg text-rose-600 italic font-bold">Email</p>
            <span class="text-xl font-medium ">tnjeik@gmail.com</span>
        </div>
        <div class="text-left my-6">
            <p class="text-lg text-rose-600 italic font-bold"> Date joined </p>
            <span class="text-xl font-medium ">13/10/23</span>
        </div>
        <div class="text-left my-6">
            <p class="text-lg text-rose-600 italic font-bold">Favourite restaurants</p>
            <span class="text-xl font-medium ">4</span>
        </div>
    </div>
</div>

</div>