<div class=" scroll-smooth h-full bg-gradient-to-b from-slate-900 flex flex-col items-center">

    <h1 
        class="text-4xl pt-20 font-semibold text-white bg-no-repeat bg-cover text-center w-full none mb-8">Favourite Restaurants



    </h1>
    <div class="h-[50vh] flex flex-col justify-center items-center" *ngIf="restaurants!.length === 0">
        <p class="md:text-3xl text-2xl text-center  text-gray-900">No Favourite Restaurants</p>
        <button routerLink="/restaurants"
            class="inline-block rounded-full mt-8 bg-rose-500 px-6 py-4 hover:scale-105 text-xs font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-rose-600  focus:bg-rose-600 focus:outline-none focus:ring-0 active:bg-rose-600 active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(20,164,77,0.5)]  dark:focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)]">
            Add Restaurants
        </button>
    </div>
    <div class="container  flex flex-wrap justify-center items-center ">
        <div *ngFor="let rest of restaurants"
            class="md:w-[19rem] p-2 w-full flex cursor-pointer md:block m-2 md:m-4 hover:scale-105 md:hover:scale-110 hover:bg-slate-200 transition-all duration-400  odd:text-rose-500 even:text-amber-600 h-full md:h-[20rem] max-w-sm bg-neutral-200 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a (click)="openres(rest)" class="rounded-sm ">
                <img class="p-2 rounded-md cursor-pointer w-[12rem] md:h-[14rem] md:w-[19rem]  " src="{{ rest.profile }}" alt=" image" />
            </a>
            <div class="flex justify-between items-center w-full">
                <div class=" px-2 w-5/5">
                    <a>
                        <h4 class="text-lg sm:text-xl font-semibold tracking-tight  dark:text-white">{{ rest.name }}
                        </h4>
                        <h5 class="font-normal text-gray-700">
                            {{rest.location}}
                        </h5>
                        <h6 class="font-semibold text-black">
                            {{rest.price}}
                        </h6>
                    </a>
                </div>
                <div class="flex items-center px-2 h-full justify-center">

                    <a (click)="remove(rest)" class="cursor-pointer "><svg class="h-6 w-6 hover:scale-110" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path d="M4 7H20" stroke="#f21818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path
                                d="M6 10L7.70141 19.3578C7.87432 20.3088 8.70258 21 9.66915 21H14.3308C15.2974 21 16.1257 20.3087 16.2986 19.3578L18 10"
                                stroke="#f21818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="#f21818" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </g>
                    </svg></a>
                </div>
            </div>
        </div>

    </div>
</div>
