
<div class=" scroll-smooth bg-gradient-to-b from-stone-700 to-95% to-gray-50 flex flex-col justify-center  items-center">

    <h1 data-te-ripple-init data-te-ripple-color="light" class="text-4xl pt-20 font-semibold text-white bg-no-repeat bg-cover text-center w-full none mb-8">All Restaurants



    </h1>
    <div class="container  flex flex-wrap justify-center items-center ">
        <div *ngFor="let rest of restaurants"
            class="w-[19rem] m-4   odd:text-rose-500 even:text-amber-600 h-[19rem]  max-w-sm bg-neutral-200 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a>
                <img  class="p-4 h-[13rem] w-[19rem]  rounded-xl" src="{{ rest.profile }}" alt=" image" />
            </a>
            <div class="flex justify-between w-full">
                <div class="px-3 w-4/5">
                    <a>
                        <h4 class="text-xl font-semibold tracking-tight  dark:text-white">{{rest.name}}
                        </h4>
                        <h5 class="font-normal text-gray-700">
                            {{rest.location}}
                        </h5>
                        <h6 class="font-semibold text-black">
                            {{rest.price}}
                        </h6>
                    </a>
                </div>
                <div class="flex items-center px-3 justify-center">

                    <a  class="cursor-pointer "><svg class="w-6 h-6 text-red-600 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 21 19">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M11 4C5.5-1.5-1.5 5.5 4 11l7 7 7-7c5.458-5.458-1.542-12.458-7-7Z" />
                    </svg></a>
                </div>
            </div>
        </div>

    </div>
</div>
