<div class="scroll-smooth bg-gradient-to-b pt-16 from-slate-900  h-full flex flex-col justify-center items-center w-full">
    <h2 class="my-4 font-bold text-center text-3xl text-white sm:text-4xl ">About <span class="text-indigo-600">FoodHub</span>
    </h2>
   
    <div class="md:w-4/5 lg:w-2/5  p-5">
        <div class="text">
            
           
            <p class="text-gray-800 p-4 rounded-lg font-semibold bg-white">
                Foodhub is a platform for search and discovery of restaurants. Our platform reveals the location of incredible,
                must-visit lounges and restaurants in Douala.We are a community of food lovers who love to share our passion for food with others, discover new restaurants and enjoy
                a variety of different cuisines Foodhub do not only stop at providing restaurants, we also provide
                their pictures, addresses, telephone numbers and e-mails for you to make your reservations. We also goes further to
                provide the menu of these restaurants, all which will help you to budget yourself and have a clear idea on what you will
                eat and the price it will cost you.
                
                
                
                There's undoubtedly a good number of choices of restaurant in Cameroon that will keep every passionate foodie well
                supplied with an endless number of options and Foodhub is here to do that job. From modern themed restaurants to
                mouth-watering variation in cuisines you will find all on Foodhub.
                
                
                
                The everyday problem of deciding where to eat and what to eat will finally come to an end, because with Foodhub,
                you will have the restaurants at your fingertips.
               
            </p>
        </div>
    </div>
</div>