<section class="w-full bg-gradient-to-b  from-slate-900 md:flex pt-16 md:px-5 ">

    <div class=" w-full lg:w-1/2 sm:grid gap-1 rounded ">
        <div class="flex justify-center border rounded-lg bg-white p-1 h-full m-1  items-center">
            <img src="{{data.profile}}" alt="profile pic" class=" rounded-lg h-full  w-full  object-cover">

        </div>
        <div class="flex px-2 md:justify-evenly rounded-lg bg-white m-1  border  grid-cols-3  justify-between flex-col  ">
            <div class="flex my-2">
                <h1 class="text-3xl font-bold text-rose-500">{{data.name}}</h1>

            </div>
            <p class="text-sm flex font-medium text-gray-800"><span class="flex items-center "
                    *ngFor="let ty of data.region"><svg class="h-2 w-2 " viewBox="0 0 16 16" xml:space="preserve"
                        xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 16 16">
                        <circle cx="8" cy="8" r="8" fill="#f43f5e" class="fill-000000"></circle>
                    </svg><span class="mx-2">{{ty}}</span></span></p>
            <p class="text-gray-800 flex flex-col  font-semibold mt-2"><span
                    class=" text-rose-500 my-1 mr-1 ">Average Price</span> {{data.price}}</p>
            <a href="tel:{{data.contact}}" class="text-gray-800 mt-2 flex font-semibold"><svg fill="none"
                    class="h-6 w-6 mr-2" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M18.118 14.702 14 15.5c-2.782-1.396-4.5-3-5.5-5.5l.77-4.13L7.815 2H4.064c-1.128 0-2.016.932-1.847 2.047.42 2.783 1.66 7.83 5.283 11.453 3.805 3.805 9.286 5.456 12.302 6.113 1.165.253 2.198-.655 2.198-1.848v-3.584l-3.882-1.479Z"
                        stroke="#f43f5e" stroke-linecap="round" stroke-linejoin="round" class="stroke-000000"></path>
                </svg> {{data.contact}}</a>

            <p class="text-gray-800 mt-2 flex font-semibold"><svg viewBox="0 0 32 32" class="h-6 w-6 mr-2"
                    xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" stroke="#f43f5e" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"
                        class="stroke-000000">
                        <path d="M27 12c0-6.075-4.925-11-11-11S5 5.925 5 12c0 8 11 19 11 19s11-11 11-19z"></path>
                        <circle cx="16" cy="12" r="4"></circle>
                    </g>
                </svg>{{data.location}}</p>

            <a href="{{data.facebook}}" *ngIf="data.facebook" class="text-gray-800 mt-2 h-10 flex w-full font-semibold"><svg class="h-6 w-6 mr-2" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 512 512">
                <path
                    d="M288 192v-38.1c0-17.2 3.8-25.9 30.5-25.9H352V64h-55.9c-68.5 0-91.1 31.4-91.1 85.3V192h-45v64h45v192h83V256h56.4l7.6-64h-64zm42.2 48H272v192h-51V240h-45v-32h45v-58.7c0-24.5 5.4-41.2 15.5-51.8 11.2-12 31.1-17.5 59.6-17.5H336v32h-17.5c-12 0-27.5 1.1-37.1 11.7-8.1 9-9.4 20.1-9.4 30.1V208h62l-3.8 32z"
                    fill="#f43f5e" class="fill-000000"></path>
            </svg>{{data.facebook | tittle:20}}</a>
            <a href="mailto: {{data.email}}" *ngIf="data.email" class="text-gray-800 mt-2 flex font-semibold"><svg viewBox="0 0 48 48"  class="h-6 w-6 mr-2" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M45 7H3a3 3 0 0 0-3 3v28a3 3 0 0 0 3 3h42a3 3 0 0 0 3-3V10a3 3 0 0 0-3-3Zm-.64 2L24 24.74 3.64 9ZM2 37.59V10.26l15.41 11.91ZM3.41 39 19 23.41l4.38 3.39a1 1 0 0 0 1.22 0l4.4-3.39L44.59 39ZM46 37.59 30.59 22.17 46 10.26Z"
                    data-name="8-Email" fill="#f43f5e" class="fill-000000"></path>
            </svg>{{data.email}}</a>
            <div id="accordion-flush" data-accordion="open" data-active-classes="bg-neutral-300">
                <h2 id="accordion-collapse-heading-2 ">
                    <button type="button"
                        class="flex items-center font-medium my-2 text-left bg-transparent text-gray-800  "
                        data-accordion-target="#accordion-collapse-body-1" aria-expanded="true"
                        aria-controls="accordion-collapse-body-1">
                        <svg class="h-6 w-6 mr-2" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                            <g data-name="Layer 15">
                                <path d="M16 31a15 15 0 1 1 15-15 15 15 0 0 1-15 15Zm0-28a13 13 0 1 0 13 13A13 13 0 0 0 16 3Z" fill="#f43f5e"
                                    class="fill-101820"></path>
                                <path d="m20.24 21.66-4.95-4.95A1 1 0 0 1 15 16V8h2v7.59l4.66 4.65Z" fill="#f43f5e" class="fill-101820"></path>
                            </g>
                        </svg>
                        <span>{{data.time}}</span>
                        <svg data-accordion-icon class="w-3 h-3 transition-all duration-500 rotate-180 ml-1 shrink-0"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9 5 5 1 1 5" />
                        </svg>
                    </button>
                </h2>
                <div id="accordion-collapse-body-1" class="hidden  transition-transform duration-700"
                    aria-labelledby="accordion-collapse-heading-2">
                    <div class="p-4 ">
                        <p class="font-medium" *ngFor="let day of data.days">{{day}}</p>
                    </div>
                </div>






            </div>
        </div>
    </div>
    <div class="p-2 border rounded-lg bg-white m-1 lg:w-1/2">
        <h2 class="text-lg font-semibold text-rose-500 mb-2">Menu</h2>
        <div class="  
     grid grid-cols-4 gap-4">
            <img id="img1" *ngFor="let men of data.menu" src="{{men}}" alt="Menu item" class="h-full w-[12rem] object-cover">

        </div>
    </div>
</section>

