<div class="md:flex container h-full font-medium mt-16">
    <div class="w-full border-2 border-gray-500 ">
      
        <img width="100%" src="{{data.profile}}" alt="profile">
    </div>
    <div class="p-4 flex flex-col justify-between">
<h1 class="font-bold text-2xl text-amber-500">{{ data.name }}</h1>
    
    <span>{{data.location}}</span>
    <div class="flex w-full  ">
        <span *ngFor="let re of data.region"> -{{re}}</span>
    </div>
    <div class="flex flex-col">
        <span>Average Price: {{ data.price }}</span>
        <span>Contact: {{ data.contact}} </span>
        <span>Open :{{ data.time }}</span>
    </div>
    <div class="flex  flex-wrap">
        <span class="w-full text-rose-500">Days Open</span>
        <span class="" *ngFor="let day of data.days">-{{day}}</span>
    </div>
    <div class="flex w-full justify-center items-center ">
        <span class="w-full text-rose-500">Menu</span>
        <div class="w-[10rem] m-2 " *ngFor="let men of data.menu">

            <img  width="100%" src="{{men}}" alt="menu">
        </div>
    </div>
    </div>
</div>



<!-- name: string,
type: string,
region: string[],
profile: string,
price: string,
contact: string,
facebook?: string,
email?: string,
location: string,
menu: string[],
time: string,
days: string[], -->